@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /**to avoid width or height changing were adding padding or border*/
    font-family: 'Poppins', sans-serif;
}

html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background: #FFAE6D;
}

.search-box{
    position: relative;
    height: 60px;
    width: 60px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box.active{
    width: 350px;
}

.search-box input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background: white;
    font-size: 18px;
    border-radius: 50px;
    padding: 0 60px 0 20px;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box input.active{
    opacity: 1;
}

.search-box .search-btn{
    height: 60px;
    width: 60px;
    color: #FFAE6D;
    background: white;
    position: absolute;
    top: 50%;
    right: 0px;
    z-index: 1;
    transform: translateY(-50%);
    line-height: 60px;
    text-align: center;
    border-radius: 50px;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.search-box .search-btn.active{
    height: 50px;
    width: 50px;
    color: white;
    background: #FFAE6D;
    line-height: 50px;
    font-size: 20px;
    right: 5px;
    transform: translateY(-50%) rotate(360deg);
}
.search-box .cancel-btn{
    position: absolute;
    color: white;
    font-size: 25px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box .cancel-btn.active{
    right: -40px;
    transform: translateY(-50%) rotate(360deg);
}

.search-box .search-data{
    display: none;
    text-align: right;
    padding: 8px;
    color: #fff;
    font-size: 18px;
}

.search-box .search-data.active {
    display: block;

}